---
permalink: /outreach/
layout: page
title: Outreach
full-page: true
---

<div class="container">
  <h1>SoNIC Workshop</h1>
  <div class="row d-flex flex-wrap align-items-center">
    {% for image in site.static_files %} {% if image.path contains
    'img/outreach/sonic_vert' %}
    <div class="col-12 col-md-4 col-lg-4 pb-3">
      <img src="{{ site.baseurl }}{{ image.path }}" alt="" />
    </div>
    {% elsif image.path contains 'img/outreach/sonic_hori' %}
    <div class="col-12 col-md-6 col-lg-6 pb-3">
      <img src="{{ site.baseurl }}{{ image.path }}" alt="" />
    </div>
    {% endif %} {% endfor %}
  </div>

  <h1>CS 4750 Demo Day</h1>
  <div class="row d-flex flex-wrap align-items-center">
    {% for image in site.static_files %} {% if image.path contains
    'img/outreach/demo_vert' %}
    <div class="col-12 col-md-4 col-lg-4 pb-3">
      <img src="{{ site.baseurl }}{{ image.path }}" alt="" />
    </div>
    {% elsif image.path contains 'img/outreach/demo_hori' %}
    <div class="col-12 col-md-6 col-lg-6 pb-3">
      <img src="{{ site.baseurl }}{{ image.path }}" alt="" />
    </div>
    {% endif %} {% endfor %}
  </div>

  <p>
    We would love to demonstrate the research in assistive robotics being
    carried out in our lab to K-12 students and beyond. Please get in touch with
    us through this Google form:
  </p>

  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLScyn62Alz52aqIK_29b0AVIBH2SZ3sxNed4rgD_QIrOVV49Qw/viewform?embedded=true"
    width="640"
    height="600"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
    class="col-md-10 offset-md-1"
  >
    Loading…
  </iframe>
</div>
