---
permalink: /outreach/
layout: page
title: Outreach
full-page: true
---

<div class="container">
  <h1>RCareWorld Hackathon</h1>
  <p> In association with EmPRISE, Big Red APDI will be hosting an RCareWorld
    hackathon this April. RCareWorld is a human-centric simulation world for
    physical and social robot caregiving with support for realistic human
    modeling, home environments with multiple levels of accessibility, and
    robots for assistance.
  </p>
  <h4><b><a href="https://emprise.cs.cornell.edu/hackathon/">For more hackathon information click here!</a></b></h4>

  <h1>SoNIC Workshop</h1>
  <p>SoNIC is a weeklong summer research workshop to support underrepresented students in pursuing a PhD in computer science.</p>
  <h4><b><a href="{{ '/outreach/sonic' }}">Learn more about SoNIC!</a></b></h4>
  <div class="">
    <img src="/assets/img/outreach/sonic_hori/SONIC-05.jpg" alt="The students and instructor gather around a white robotic arm, which holds a fork above a plate with food on it" />
  </div>

  <br>

  <h1>CS 4750 Demo Day</h1>
  <div class="row d-flex flex-wrap align-items-center">
    {% for image in site.static_files %} {% if image.path contains
    'img/outreach/demo_vert' %}
    <div class="col-12 col-md-4 col-lg-4 pb-3">
      <img src="{{ site.baseurl }}{{ image.path }}" alt="" />
    </div>
    {% elsif image.path contains 'img/outreach/demo_hori' %}
    <div class="col-12 col-md-6 col-lg-6 pb-3">
      <img src="{{ site.baseurl }}{{ image.path }}" alt="" />
    </div>
    {% endif %} {% endfor %}
  </div>

  <h1>Other Outreach Events</h1>
  <div class="row d-flex flex-wrap align-items-center">
    {% for image in site.static_files %} {% if image.path contains
    'img/outreach/other_vert' %}
    <div class="col-12 col-md-4 col-lg-4 pb-3">
      <img src="{{ site.baseurl }}{{ image.path }}" alt="" />
    </div>
    {% elsif image.path contains 'img/outreach/other_hori' %}
    <div class="col-12 col-md-6 col-lg-6 pb-3">
      <img src="{{ site.baseurl }}{{ image.path }}" alt="" />
    </div>
    {% endif %} {% endfor %}
  </div>

  <p>
    We would love to demonstrate the research in assistive robotics being
    carried out in our lab to K-12 students and beyond. Please get in touch with
    us through this Google form:
  </p>

  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLScyn62Alz52aqIK_29b0AVIBH2SZ3sxNed4rgD_QIrOVV49Qw/viewform?embedded=true"
    width="640"
    height="600"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
    class="col-md-10 offset-md-1">
    Loading…
  </iframe>
</div>