---
permalink: /publications/
layout: page
title: Publications
css: /assets/css/people.css
full-width: true
---

<div class="container">

  <p><strong style="color: #008000;">[C/J]</strong> Indicates a conference or journal paper. <br>
    <strong style="color: #0000FF;">[O]</strong> Indicates other papers and reports.
  </p>

  {% assign pubs_by_year = site.data.pubs | group_by: 'year' %} {% for year in
  pubs_by_year %}

  {% for pub in year.items %}
  <div class="pub-grid-parent">
    <!-- Thumbnail -->
    {% if pub.alt == 0 %}
    <img
      class="pub-grid-child"
      src="{{ '/assets/img/pubs_2022/' | append: pub.thumbnail | relative_url }}" />
    {% else %} {% for image in site.static_files %} {% assign vr = 'img/pubs/' |
    append: pub.alt | append: '_' %} {% if image.path contains vr %}
    <img
      class="pub-grid-child"
      src="{{ site.baseurl }}{{ image.path }}"
      alt="" />
    {% endif %} {% endfor %} {% endif %}


    <div class="pub-grid-child">
      <!-- Title -->
      <a href="{{ pub.link.url }}">{{ pub.title }}</a>

      <!-- Type of publication -->
      {% if pub.type == 'conf-journal' %}
      <span style="color: #008000;"><strong>[C/J]</strong></span>
      {% endif %}
      {% if pub.type == 'other' %}
      <span style="color: #0000FF;"><strong>[O]</strong></span>
      {% endif %}
      <br />

      <!-- Authors -->
      {{ pub.authors }}
      <br />

      <!-- Year and Venue -->
      <em>{{ pub.venue }}.</em>&nbsp;{{ pub.year }}

      <!-- Notes -->
      {% if pub.note %}
      <br />
      <strong style="color:#ff782d;">{{ pub.note }}</strong>
      {% endif %}

      <!-- Website -->
      {% if pub.website%}
      <br />
      <a href="{{ pub.website }}">[Project Website]</a>
      {% endif %}
    </div>
  </div>
  {% endfor %} {% endfor %}
</div>