---
permalink: /research/
layout: page
title: Research
css: /assets/css/research.css
js: /assets/js/research.js
full-width: true
---

<div class="row">
  {% assign project_count = site.data.research | size %}

  {% for project in site.data.research %}
  <!-- Calculate the offset for projects that do not fill a full row -->
  {% assign remainder = project_count | modulo: 3 %}

  {% if forloop.last and remainder == 1 %}
  <div class="col-md-4 offset-md-4">
    {% elsif forloop.last and remainder == 2 %}
    <div class="col-md-4 offset-md-2">
      {% else %}
      <div class="col-md-4">
        {% endif %}

        <div class="project-wrapper text-center">
          <h2 class="project-title">
            {{ project.title }}
          </h2>

          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              class="embed-responsive-item"
              src="{{ project.video }}"
              title="{{ project.title }}"
              allowfullscreen></iframe>
          </div>

          {% if project.link %}
          <a href="{{ project.link }}" class="project-website-link" target="_blank" rel="noopener noreferrer">Project Website</a>
          {% endif %}

        </div>
      </div>
      {% endfor %}
    </div>


    <h2>Featured Videos</h2>

    <p align="center">
      <iframe
        width="640"
        height="360"
        src="https://www.youtube.com/embed/f-NboRkoTDs"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </p>

    <div id="featuredVideosContainer" class="row row-cols-3"></div>